.start-screen-modal-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.start-screen-modal-panel--border-left {
  border-left: 1px solid var(--color-gray-light);
}