.button {
  cursor: pointer;
  border: none;
  padding: var(--padding-sm);
}

.button:hover {
  opacity: 0.9;
}

.button:active {
  opacity: 0.6;
}

.button--disabled {
  background-color: var(--color-gray) !important;
  pointer-events: none;
}

.button--size--sm {
  width: 30%;
}

.button--size--md {
  width: 60%;
}

.button--size--lg {
  width: 80%;
}

.button--size--lg2 {
  width: 100%;
}

.button--color--white {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
}

.button--color--violett {
  background-color: var(--color-violett);
}

.button--color--red {
  background-color: var(--color-red);
}

.button--color--blue {
  background-color: var(--color-blue);
}

.button--margin-bottom--md {
  margin-bottom: var(--margin-md);
}

.button--margin-top--lg {
  margin-top: var(--margin-lg2);
}

.button--margin-right--md {
  margin-right: var(--margin-md);
}

.button--padding--sm {
  padding: var(--padding-sm);
}

.button--padding--sm2 {
  padding: var(--padding-sm2);
}

.button--border--none {
  border: none;
}